pkgbase = wtp-bin
	pkgdesc = A powerful Git worktree CLI tool with automated setup, branch tracking, and smart navigation
	pkgver = 2.6.0
	pkgrel = 1
	url = https://github.com/satococoa/wtp
	arch = x86_64
	license = MIT
	depends = tar
	source = https://github.com/satococoa/wtp/releases/download/v2.6.0/wtp_2.6.0_Linux_x86_64.tar.gz
	sha256sums = 96e401abd9291800285619b6d7bcff5f412fd3c8c9aef23da45c86f9488f3eeb

pkgname = wtp-bin
